<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Graph Plotter</title>
    <link rel = "stylesheet" type = "text/css" href = "/css/graph.css">
</head>
<body>
    <h1>2D coordinate plane </h1> <br> <br>
    <div class = "graph">
        <canvas id = "plane">
        </canvas>
        <script src = "/js/coordinate.js"></script>
    </div> <br>
    <p>
        This site supports graphs of polynomial functions and basic transcendental functions
        (sin, cos, tan, log, exp).
    </p> <br> <br>

    <p>
        Examples: y = ax^3 + bx^2 + c, y = sin(x), y = cos(x), y = tan(x), y = log(x), y = a^x
        <br> <br>
        ! log(x) represents the logarithm of x with base natural number e !
    </p> <br> <br>

    <form method="post" action="/addGraph">
        <input type="text" name="graph">
        <button type="submit">Add Graph</button>
    </form>


</body>
</html>